*{
    padding:0;
    margin:0;
}
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);

body{
font-family: 'Oswald', sans-serif;
}

#conteneur{
    margin-left:auto;
    margin-right:auto;
    width:1200px;
}


#gauche{
    float:left;
    width: 291px;
    
}

#logo_admin{
    background-image:url('../images/logo/ftqp_admin.png');
    height:250px ;

}
#menu_admin{
width: 291px;
}  
#menu_admin .en-cours{

background-color:#242A36;
}
    
#menu_admin ul{


}
#menu_admin ul li{
    margin:0 auto;
    width: 150px;
    display:block;
    list-style-type: none;


}
#menu_admin ul li a{
 
    color:white;
     border:0.1em solid ;
    border-radius:0.2em;
    text-decoration: none;
    line-height: 1.9em;
    height: 1.9em;
    background-color:#B84826;
    display:block;
    margin:0.5em 0;
    
    text-align: center;
    

}
#menu_admin ul li a:hover{    
    text-align: center;
    color:white;
    height: 1.9em;
    border:0.1em solid #242A36;
    border-radius:0.2em;
    background-color:#242A36;
   
}





#droite{
    float:right;
    width: 50em;
 
}


#index_admin{

}
#contenu_admin{
  
  position:relative;
  right:6em;
    
}
#contenu_admin textArea{

}
#editor1{

}
input[name=editer]{
    margin:2em 0;
    background-color:#B84826;
    font-weight:900;
    color:white;
    height:3em;
    width: 8em;
    border:0.1em solid #242A36;
    border-radius:0.2em;
}

#connexion{
    
    margin-top:33%;
    
}

#connexion input{
    background-color:#B84826;
    color:white;
    border:0.1em solid black;
    height: 1.3em;
    width: 7em;
    border-radius:0.2em;
}
#connexion input[name="lelogin"]{
    background-color:#B84826;
    color:white; 
    border:0.1em solid black;
    height: 1.3em;
    width: 7em;
    border-radius:0.2em;
}
#connexion input[type="password"]{
    background-color:#B84826;    
    border:0.1em solid black;
    height: 1.3em;
    width: 7em;
    border-radius:0.2em;
}
#connexion input[type="submit"]{
    background-color:#B84826;
    color:white;
    border:0.1em solid black;
    height: 1.3em;
    width: 7em;
    border-radius:0.2em;
}
#connexion a{
    text-decoration: none;
    color:black;
}
#connexion a:hover{
    text-decoration: none;
    color:#B84826;
    border-bottom:0.3em solid #B84826;
}
#erreur_connex{    
    display:inline-block;
    color:red;
}

#menu-section{
  
}
#menu-section li {
display: inline-block;
width: 5em;
border: 1px solid black;
text-align: center;
background-color: #242A36;
}
#menu-section li a {
text-decoration: none;
color: white ;
}


#zone-photo{
    width: 50.5em;
    height: 50em;
    border-top: 0.2em solid #242A36;
}
#affiche-photo{
    margin: 1em;
    display: inline-block;
}

#enligne{
    color:green;
    font-size:2em;
    margin-top:20%;
    text-align:center;
}