@media screen and (max-width: 960px){

   #header #logo{    
    //background-image: url('../images/logo/ftqp.png');
    z-index:3;   
    position:absolute;
    top:0;        
    float:left;
    width: 65%;
    max-height: 65%;    
    clear:both;
            }
            
    #header #texte{
    z-index:1;      
    margin-left:10em;   
    float:right;
    width: auto;
    margin-top:2em;
    color:#B84926;
    font-weight: bold;
    font-size:1.8em;   
            }
}

@media screen and (max-width: 639px){
 #header #logo{    display: none;}
 div#slider figure img {display: none;}
 #header #texte{
    display: none;
 }
 body img{display:none;}
 


   
}
