@media screen and (max-width: 960px){

    #header #logo{    
        //background-image: url('../images/logo/ftqp.png');
        z-index:3;   
        position:absolute;
        top:0;        
        float:left;
        width: 65%;
        max-height: 65%;    
        clear:both;
    }

    #header #texte{
        z-index:1;      
        margin-left:10em;   
        float:right;
        width: auto;
        margin-top:2em;
        color:#B84926;
        font-weight: bold;
        font-size:1.8em;   
    }
}

@media screen and (max-width: 639px){
    #header #logo{    margin-top:5%;left:33%;}
    #contenu titre{margin-top:5em;}
    div#slider figure img {display: none;}
    #header #texte{display: none;}
    #contenu titre {margin-top:15%;}
    #conteneur img{display:none;} 
}


@media screen and (max-width: 500px){
    #header #logo{margin-top:8%;left:33%;}
    #footer #lien-admin{display:none;}
    #form_contact{  
        width: 100%;
        clear:both   ; 
    }
    #info_contact{
        width: 100%;
        clear:both   ;
        height: auto;
        width: 100%;    
    }
    #contenu titre{margin-top:2em;}
}





@media all and (max-width: 400px) {
    #header #logo{    margin-top:21%;position:absolute;left:33%;width: 100%;}
    #google-maps iframe {display:none}    
    html  { }
    #contenu titre{margin-top:4em;}
    nav   { height:  auto;font-size: 1.5em;  }
    label { display: block; }
    nav ul    { display: none;  }
    nav li    { float:   none; font-size: 1em; 
                border-bottom: 1px solid #333;
                background: #1a1a1a;
    }
}